:root {
    --primary-text-color: #6C7289;
    --secondary-text-color: #1C232B;
    --tertiary-text-color: #FFFFFF;
    --accent-color: #3D8168;
    --primary-bg-color: #F2EAE2;
    --secondary-bg-color: #FFFFFF;
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Fraunces', serif;
}